Multiset/force-app/main/default/flows/Contato_Criacao_de_contato.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Redirecionador</name>
        <label>Redirecionador</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <actionName>c:redirectToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Criar_novo_contato</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:redirectToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <choices>
        <name>Analista</name>
        <choiceText>Analista</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Analista</stringValue>
        </value>
    </choices>
    <choices>
        <name>Desenvolvedor</name>
        <choiceText>Desenvolvedor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Desenvolvedor</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Verifica_se_contato_existe</name>
        <label>Verifica se contato existe</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Criar_novo_contato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>obtem_contato_com_email_e_telefone_iguais</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contato_existente</targetReference>
            </connector>
            <label>Existe</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Retorna valor booleano se existe valor na tentativa de inserir contato</description>
        <name>ExisteContato</name>
        <dataType>Boolean</dataType>
        <expression>ISNULL({!obtem_contato_com_email_e_telefone_iguais.Id})</expression>
    </formulas>
    <interviewLabel>[Contato] Criação de contato {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Contato] Criação de contato</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Criar_novo_contato</name>
        <label>Criar Novo contato</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Msg_de_redirecionamento</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Msg_de_erro</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>PrimeiroNome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>ultimonome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Telefone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>Cargo2</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>obtem_contato_com_email_e_telefone_iguais</name>
        <label>obtem contato com email e telefone iguais</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verifica_se_contato_existe</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Telefone.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Contato_existente</name>
        <label>Contato existente</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Contato já existe&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; ✅&amp;nbsp;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/{!obtem_contato_com_email_e_telefone_iguais.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Clique aqui para ir para o contato&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contato_existente_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contato_existente_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>nomeExiste</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Primeiro nome: &lt;/strong&gt;{!obtem_contato_com_email_e_telefone_iguais.FirstName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>telefoneExiste</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Telefone: &lt;/strong&gt;{!obtem_contato_com_email_e_telefone_iguais.MobilePhone}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>emailExiste</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Email:&lt;/strong&gt;{!obtem_contato_com_email_e_telefone_iguais.Email}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contato_existente_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ultimo_nome</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Último nome:&lt;/strong&gt;{!obtem_contato_com_email_e_telefone_iguais.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>cargoExiste</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Cargo:&lt;/strong&gt;{!obtem_contato_com_email_e_telefone_iguais.Title}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Finalizar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>criar_contato</name>
        <label>criar contato</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>obtem_contato_com_email_e_telefone_iguais</targetReference>
        </connector>
        <fields>
            <name>PrimeiroNome</name>
            <dataType>String</dataType>
            <fieldText>Primeiro Nome</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ultimonome</name>
            <dataType>String</dataType>
            <fieldText>Último nome</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Telefone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Telefone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <elementReference>ExisteContato</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Cargo2</name>
            <dataType>String</dataType>
            <fieldText>Cargo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Criar contato</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Msg_de_erro</name>
        <label>Msg de erro</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>criar_contato</targetReference>
        </connector>
        <fields>
            <name>msg_erro_criacao</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Ocorreu algum erro na criação do contato:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Tentar novamente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Msg_de_redirecionamento</name>
        <label>Msg de redirecionamento</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Redirecionador</targetReference>
        </connector>
        <fields>
            <name>teste</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>teste</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Criar_novo_contato</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>criar_contato</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Contato</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
